---
- import_tasks: prerequisites.yml
- import_tasks: install_drivers.yml
- import_tasks: reboot.yml
- import_tasks: tune_gpus.yml
- import_tasks: install_efa.yml
- import_tasks: install_nccl.yml
- import_tasks: install_dcgm.yml
