---
- name: Add IP addresses of all hosts to all other hosts
  become: true
  lineinfile:
    dest: /etc/hosts
    regexp: '.*{{ item }}$'
    line: "{{ hostvars[item].ansible_host }} {{item}}"
    state: present
  when: hostvars[item].ansible_host is defined
  with_items: "{{ groups.all }}"

# - name: Reboot machine
#   ansible.builtin.reboot:
#     reboot_timeout: 3600
