---
- name: Install apt package
  become: true
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
  - slurmd
  - slurm-client
  - munge

- name: Copy SLURM Configuration
  become: true
  template:
    src: "{{ item.src }}"
    dest: "{{ item.destination }}"
    owner: ubuntu
    group: ubuntu
    mode: '640'
  with_items:
  - src: slurm.conf.j2
    destination: /etc/slurm-llnl/slurm.conf
  - src: gres.conf.j2
    destination: /etc/slurm-llnl/gres.conf
  - src: cgroup.conf.j2
    destination: /etc/slurm-llnl/cgroup.conf
  - src: cgroup_allowed_devices_file.conf.j2
    destination: /etc/slurm-llnl/cgroup_allowed_devices_file.conf

- name: Deploy HealthCheck program
  become: true
  template:
    src: healthcheck.py.j2
    dest: /etc/slurm-llnl/healthcheck.py
    owner: slurm
    group: slurm
    mode: '0755'

- name: Deploy Prolog script
  become: true
  template:
    src: prolog.sh.j2
    dest: /etc/slurm-llnl/prolog.sh
    owner: root
    group: root
    mode: '0755'

- name: Deploy Epilog script
  become: true
  template:
    src: epilog.sh.j2
    dest: /etc/slurm-llnl/epilog.sh
    owner: root
    group: root
    mode: '0755'

- name: Copy MUNGE Key from shared directory
  become: true
  copy:
    src: /shared/munge.key
    dest: /etc/munge/munge.key
    remote_src: true
    owner: munge
    group: munge
    mode: '600'

- name: Enable systemd services
  become: true
  systemd_service:
    name: "{{ item }}"
    state: restarted
    enabled: true
  with_items:
  - munge
  - slurmd
